<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Task Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app-container">
        <h1>Daily Habits</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <span class="{{ category }}">{{ message }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Habits -->
        <form method="post" class="habit-form">
            {% for hid, name in habit_names.items() %}
                <label class="habit-label">
                    <input type="checkbox" name="habit_{{ hid }}" {% if task_status(hid) %}checked{% endif %}>
                    <span>{{ name }}</span>
                </label>
            {% endfor %}

            <div class="modalBtnTxt">
                <button id="modalBtn" class="modalBtn">+</button>
                <span>Add Habit</span>
            </div>

            <button type="submit" class="save-btn">Save</button>
        </form>

         <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p class="modal-title">Create a new habit:</p>

                <form action="/api/create-habit" method="POST">
                    <label class="modal-label" for="habit-name">Habit Name:</label>
                    <input class="modal-input" type="text" id="habit-name" name="name_input" required>

                    <button type="submit" class="modal-save-btn">Add Habit</button>
                </form>

            </div>
        </div>

        <!-- Links -->
        <a href="/history" class="history-link">View Task History</a>
        <a href="/logout" class="history-link" style="color: black;">Logout</a>
    </div>

    <script src="{{ url_for('static', filename='index_scripts.js') }}"></script>
</body>
</html>
