<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Task Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="margin: 20px auto;">
    <div class="login-container">
        <h1>Set New Password</h1>

        <form method="post">
            <input type="hidden" name="access_token" id="access_token">
            <input type="password" name="password" required placeholder="New password"><br><br>
            <button type="submit">Update Password</button><br><br>
        </form>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>

    <script>
        const hash = window.location.hash;
        if (!hash) {
            alert("Invalid reset link");
        } else {
            const params = new URLSearchParams(hash.substring(1));
            const accessToken = params.get("access_token");

            if (!accessToken || !accessToken.includes(".")) {
                alert("Invalid or expired reset token");
            } else {
                document.getElementById("access_token").value = accessToken;
                history.replaceState(null, "", window.location.pathname);
            }
        }
    </script>
</body>
</html>
